<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:include="header.html"/>
<div class="w-90 p-3">
    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
            aria-expanded="false" aria-controls="collapseFilters">
        Фильтры
    </button>
</div>
<div class="collapse" id="collapseFilters">
    <div class="card card-body">
        <form th:action="@{'/books/page/' + ${currentPage}}">

            <label>Фильтрация по названию:
                <br>
                <input type="text" name="titleFilter" placeholder="Укажите название">
                <br>
            </label>

            <input type="hidden" name="pageSize" th:value="${pageSize}">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            <button type="submit" class="btn btn-primary">Сохранить</button>

        </form>
    </div>
</div>
<div class="w-90 p-3">
    <form th:action="@{/books/new-book}">
        <button type="submit" class="btn btn-outline-success">Добавить книгу</button>
    </form>
</div>
<div class="w-90 p-3" style="text-align: center;">
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="text fw-light fs-6 lh-1">
    </div>
    <div th:switch="${books}">
        <h2 th:case="null">База данных книг пока пуста!</h2>
        <div th:case="*">
            <h2>Книги</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=id&sortDir=' + ${reverseSortDir}}">№</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=title&sortDir=' + ${reverseSortDir}}">Название</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=language&sortDir=' + ${reverseSortDir}}">Язык</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=summary&sortDir=' + ${reverseSortDir}}">Аннотация</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=authors&sortDir=' + ${reverseSortDir}}">Авторы</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=genres&sortDir=' + ${reverseSortDir}}">Жанры</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=receiptDate&sortDir=' + ${reverseSortDir}}">Дата
                            поступления</a>
                    </th>
                    <th scope="col" class="align-middle">
                        <a th:href="@{'/books/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=yearOfPublishing&sortDir=' + ${reverseSortDir}}">Год
                            публикации</a>
                    </th>
                    <th colspan="2" class="align-middle">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.language}"></td>
                    <td th:text="${book.summary}"></td>
                    <td th:each="author : ${book.authors}">
                        <div th:text="${author.surname} + ', ' + ${author.firstName} + ' ' + ${author.secondName}">
                        </div>
                    </td>
                    <td th:each="genre : ${book.genres}">
                        <div th:text="${genre.name}">
                        </div>
                    </td>
                    <td th:text="${book.receiptDate}"></td>
                    <td th:text="${book.yearOfPublishing}"></td>
                    <td>
                        <form th:action="@{/books/{id}/{page}/{pageSize}/{sortField}/{sortDir}(id=${book.id},page=${currentPage}, pageSize=${pageSize}, sortField=${sortField},sortDir=${sortDir})}">
                            <button type="submit" class="btn btn-outline-warning">Редактировать</button>
                        </form>
                    <td>
                        <form th:method="DELETE"
                              th:action="@{/books/{id}/{page}/{pageSize}/{sortField}/{sortDir}(id=${book.id},page=${currentPage}, pageSize=${pageSize}, sortField=${sortField},sortDir=${sortDir})}">
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav aria-label="paginationBooks">
    <div style="text-align: center;">
        <form th:action="@{'/books/page/'+ ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
            <div th:if="${pageSize == 5}">
                <label>Отображение по:
                    <select class="form-select" aria-label="Default select example" size="1" name="pageSize" th:value="${pageSize}">
                        <option selected value="5">5 книг</option>
                        <option value="10">10 книг</option>
                    </select>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </label>
            </div>
            <div th:if="${pageSize == 10}">
                <label>Отображение по:
                    <select class="form-select" aria-label="Default select example" size="1" name="pageSize" th:value="${pageSize}">
                        <option value="5">5 книг</option>
                        <option selected value="10">10 книг</option>
                    </select>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </label>
            </div>
        </form>
    </div>
    <p>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/books/page/'+ ${1} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Первая
            </a>
            <span class="page-link disabled" th:unless="${currentPage > 1}">Первая</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/books/page/' + ${currentPage - 1} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <span class="page-link disabled" th:unless="${currentPage > 1}">&laquo;</span>
        </li>
        <li class="d-flex flex-row page-item active" aria-current="page">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a class="page-link" th:if="${i != currentPage}"
           th:href="@{'/books/page/' + ${i} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]
        </a>
        <span class="page-link active" th:unless="${i != currentPage}">[[${i}]]</span>
        </span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/books/page/' + ${currentPage + 1} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <span class="page-link disabled" th:unless="${currentPage < totalPages}">&raquo;</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/books/page/' + ${totalPages} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Последняя
            </a>
            <span class="page-link disabled" th:unless="${currentPage < totalPages}">Последняя</span>
        </li>
    </ul>
    <div style="text-align: center;">
        Всего строк [[${totalItems}]] : Страница [[${currentPage}]] из [[${totalPages}]]
    </div>
</nav>
<div class="wrapper flex-grow-1">
</div>
<th:block th:include="footer.html"/>
</body>
</html>