<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека Bookаньеры</title>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{header :: header}"></div>
<span class="text-info" style="text-align: center" th:text="${registrationMessage}"></span>
<span class="text-info" style="text-align: center" th:text="${updateAccountMessage}"></span>
<div class="wrapper flex-grow-1">
</div>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>