<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Выбор жанров для книги</title>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{header :: header}"></div>
<div class="w-90 p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="link-info">Главная</a></li>
            <li class="breadcrumb-item"><a href="/books" class="link-info">Книги</a></li>
            <li class="breadcrumb-item"><a href="/books/new-book" class="link-info">Добавление книги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Выбор жанров</li>
        </ol>
    </nav>
</div>
<div class="w-90 p-3" style="text-align: center;">
    <form th:action="@{/books/new-book/choose-genres/confirm}">
        <div th:switch="${genres}">
            <h2 th:case="null">База данных жанров пока пуста!</h2>
            <div th:case="*">
                <h2>Жанры</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col" class="align-middle">
                            <a th:href="@{'/books/new-book/choose-genres/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=id&sortDir=' + ${reverseSortDir}}">№</a>
                        </th>
                        <th scope="col" class="align-middle">
                            <a th:href="@{'/books/new-book/choose-genres/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=name&sortDir=' + ${reverseSortDir}}">Название</a>
                        </th>
                        <th scope="col" class="align-middle">
                            <a th:href="@{'/books/new-book/choose-genres/page/' + ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=description&sortDir=' + ${reverseSortDir}}">Описание</a>
                        </th>
                        <th scope="col" class="align-middle">Выбор</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="genre : ${genres}">
                        <td th:text="${genre.id}"></td>
                        <td th:text="${genre.name}"></td>
                        <td th:text="${genre.description}"></td>
                        <td>
                            <div class="form-check d-flex justify-content-center">
                                <input class="form-check-input" type="checkbox" name="genresIds"
                                       th:value="${genre.id}"
                                       id="flexCheckDefault" onchange="document.getElementById('form_button').disabled = !this.checked;">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success" id="form_button" disabled="disabled">Выбрать жанры</button>
    </form>
</div>
<p>
<div style="text-align: center;">
    <form th:action="@{/books/new-book}">
        <button type="submit" class="btn btn-secondary">Назад</button>
    </form>
</div>
<p>
<nav aria-label="paginationGenres">
    <div style="text-align: center;">
        <form th:action="@{'/books/new-book/choose-genres/page/'+ ${currentPage} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
            <div th:if="${pageSize == 5}">
                <label>Отображение по:
                    <select class="form-select" aria-label="Default select example" size="1" name="pageSize"
                            th:value="${pageSize}">
                        <option selected value="5">5 жанров</option>
                        <option value="10">10 жанров</option>
                    </select>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </label>
            </div>
            <div th:if="${pageSize == 10}">
                <label>Отображение по:
                    <select class="form-select" aria-label="Default select example" size="1" name="pageSize"
                            th:value="${pageSize}">
                        <option value="5">5 жанров</option>
                        <option selected value="10">10 жанров</option>
                    </select>
                    <input type="hidden" name="sortField" th:value="${sortField}">
                    <input type="hidden" name="sortDir" th:value="${sortDir}">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </label>
            </div>
        </form>
    </div>
    <p>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/books/new-book/choose-genres/page/'+ ${1} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Первая
            </a>
            <span class="page-link disabled" th:unless="${currentPage > 1}">Первая</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/books/new-book/choose-genres/page/' + ${currentPage - 1} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <span class="page-link disabled" th:unless="${currentPage > 1}">&laquo;</span>
        </li>
        <li class="d-flex flex-row page-item active" aria-current="page">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a class="page-link" th:if="${i != currentPage}"
           th:href="@{'/books/new-book/choose-genres/page/' + ${i} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]
        </a>
        <span class="page-link active" th:unless="${i != currentPage}">[[${i}]]</span>
        </span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/books/new-book/choose-genres/page/' + ${currentPage + 1} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <span class="page-link disabled" th:unless="${currentPage < totalPages}">&raquo;</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/books/new-book/choose-genres/page/' + ${totalPages} + '?pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Последняя
            </a>
            <span class="page-link disabled" th:unless="${currentPage < totalPages}">Последняя</span>
        </li>
    </ul>
    <div style="text-align: center;">
        Всего строк [[${totalItems}]] : Страница [[${currentPage}]] из [[${totalPages}]]
    </div>
</nav>
<div class="wrapper flex-grow-1">
</div>
<p>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>